@charset "utf-8";

.no-support {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  padding: 72px;
  background-color: #fff;
  color: #000;
  text-align: center;
}
